.structure {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}    
.structure-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.structure-title {
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin: 20px;
    text-align: center;
}
.places {
    width: 40%;
    height: 200px;
    margin: 5px;
    background-color: rgb(214, 214, 214);
    box-shadow:  1px 1px 3px #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s ease;
}
.places:hover {
    box-shadow: none;
}
/* .place-title {
    color: white;
    font-size: 2em;
} */
.place-btn {
   padding: 10px 20px;
   color: white;
   border: none;
   border-radius: 5px;
   background-color: gray;
   font-size: 1em;
   transition: .4s ease;
}
.place-btn:hover {
    background-color: rgb(161, 161, 161);
}
@media screen and (max-width: 600px) {
    .places {
      padding: 10px;
    }
    .place-btn {
        padding: 5px 10px;
    }
    .structure-title {
        font-size: 2em;
    }
}
@media screen and (max-width: 400px) {
   .place-btn {
     font-size: .8em;
     padding: 5px;
   }
}