.upload {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.upload-container {
    padding: 20px;
    width: 70%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.281);
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:  10px 10px 20px #7b7b7b,
    -10px -10px 20px #ffffff;
}
.form-upload {
    width: 100%;
}
.upload-title {
    color: rgb(255, 255, 255);
    font-size: 2em;
    margin: 0 0 40px 0;
    text-align: center;
    width: 80%;
}
.choose {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s ease;
}
.choose:hover {
    background-color: white;
    color: gray;
}
.upload-label {
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}
.upload-input {
    width: 80%;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    font-size: 1.2em;
    color: white;
}
.upload-btn {
    width: 80%;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    transition: .4s ease;
}
.upload-btn:hover {
    background-color: white;
    color: gray;
}
@media screen and (max-width:711px){
    .upload-title {
        font-size: 1.6em;
    }   
}
@media screen and (max-width:463px) {
    .upload-btn {
        padding: 10px;
        font-size: 1em;
    }
    .upload-label {
        font-size: 1.2em;
        text-align: center;
    }
}