.image-box {
    width: 70%;
    margin: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.image-leftBox {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-rightBox {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
}
.box-name {
    font-size: 4em;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 50%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color:transparent;
    -webkit-background-clip:text;
}
.box-link {
    margin: 20px 0;
    font-size: 2em;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: .4s ease;
}
.box-link:hover {
    color: rgb(190, 190, 190);
}
.box-desc {
    font-size: 1.5em;
    width: 80%;
    color: white;
    text-align: center;
    letter-spacing: .1em;
}
@media screen and (max-width: 1082px) {
    .image-box {
        flex-direction: column;
    }
    .image-leftBox {
       width: 80%;
    }
    .image-rightBox {
       width: 80%;
    }
}
@media screen and (max-width: 667px) {
    .image-leftBox {
        width: 100%;
    }
    .image-rightBox {
        width: 100%;
    }
    .box-name {
        font-size: 3em;
    }
    .box-link {
        font-size: 1.5em;
    }
    .box-desc {
        font-size: 1.2em;
    }
}
